@import url('https://fonts.googleapis.com/css?family=Montserrat|Montserrat+Alternates|Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Open Sans", sans-serif;
  color: #334240;
}

a {
  text-decoration: none;
  color: #1bbca3;
}

a:hover {
  color: #2ae0c4;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
  background: #1bbca3;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 24px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #21dfc2;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  height: 70px;
  z-index: 997;
  transition: all 0.5s;
  background: #fff;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#header .logo h1 {
  font-size: 28px;
  margin: 0;
  padding: 10px 0;
  line-height: 1;
  font-weight: 400;
}

#header .logo h1 a,
#header .logo h1 a:hover {
  color: #425451;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

#header .logo img {
  padding: 0;
  margin: 0;
  max-height: 40px;
}

.scrolled-offset {
  margin-top: 70px;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  font-weight: 500;
  color: #637f7b;
  white-space: nowrap;
  transition: 0.3s;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
  color: #1bbca3;
}

.navbar .getstarted,
.navbar .getstarted:focus {
  background: #1bbca3;
  padding: 8px 20px;
  margin-left: 30px;
  border-radius: 4px;
  color: #fff;
}

.navbar .getstarted:hover,
.navbar .getstarted:focus:hover {
  color: #fff;
  background: #1ed2b6;
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 14px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
}

.navbar .dropdown ul li {
  min-width: 200px;
}

.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 13px;
  font-weight: 500;
  text-transform: none;
}

.navbar .dropdown ul a i {
  font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover>a {
  color: #1bbca3;
}

.navbar .dropdown:hover>ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover>ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }

  .navbar .dropdown .dropdown:hover>ul {
    left: -100%;
  }
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #58716d;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
  color: #fff;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(21, 27, 26, 0.8);
  transition: 0.3s;
  z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #58716d;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
  color: #1bbca3;
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
  margin: 15px;
}

.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover>a {
  color: #1bbca3;
}

.navbar-mobile .dropdown>.dropdown-active {
  display: block;
}


.logo {
  width: 12%;
}

/*barra de busqueda*/
.search-container {
  text-align: center;
  margin: auto;
}

.search-box {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 7px;
  width: 61%;
}

.search-button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 35px;
  cursor: pointer;
}

.borde {
  width: 100%;
  padding-left: 15%;
  padding-right: 15%;
  background-color: lightgray;
}

.contenido {
  width: 100%;
  background-color: whitesmoke;
}



/* input#abrir-cerrar {
    visibility:hidden;
    position: absolute;
    top: -9999px;
}


label[for="abrir-cerrar"] {
    cursor:pointer;
    padding: 1rem;
    color:#fff;
    display:inline-block;
    width:20%;
    font-size: 200%;
}

.cerrar {
    display:none;
}

#sidebar {
    width:0;
}

#contenido {
    margin-left:0;
}

input#abrir-cerrar:checked ~ #sidebar {
    width:300px;
}

input#abrir-cerrar:checked + label[for="abrir-cerrar"], input#abrir-cerrar:checked ~ #contenido {
    margin-left:300px;
    transition: margin-left .4s;
}

input#abrir-cerrar:checked + label[for="abrir-cerrar"] .cerrar {
    display:inline;
}

input#abrir-cerrar:checked + label[for="abrir-cerrar"] .abrir {
    display:none;
}

.sidebar {
    position: fixed;
    height: 100%;
    width: 0;
    top: 0;
    left: 0;
    z-index: 1;
    background: linear-gradient(#B233FF, white);
    opacity: 0.95;
    overflow-x: hidden;
    transition: 0.4s;
    padding: 1rem 0;
    box-sizing:border-box;
}

.sidebar .boton-cerrar {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    font-size: 2rem;
    display: block;
    padding: 0;
    line-height: 1.5rem;
    margin: 0;
    height: 32px;
    width: 32px;
    text-align: center;
    
}

.sidebar ul, .sidebar li{
    margin:0;
    padding:0;
    list-style:none inside;
}

.sidebar ul {
    margin: 4rem auto;
    display: block;
    width: 80%;
    min-width:200px;
}

.sidebar a {
    display: block;
    font-size: 120%;
    color: black;
    text-decoration: none;
    margin-bottom: 10%;
}
.sidebar a:hover{
    color:#fff;
    background-color: #B233FF;
} */


/*Estilos del logo arlequin eventos*/
/* #logo {
    display: inline-block;
    width: 15%;
    height: 85%;
    margin-left: 35%;
    margin-right: 30%;
} */


/*barra de busqueda*/
.search-container {
    text-align: center;
    margin: auto;
  }
  
  .search-box {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 7px;
    width: 61%;
  }
  
  .search-button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 35px;
    cursor: pointer;
  }


/* Estilos del bloque1 de bienvenidos */
.bloque1 {
    width: 100%;
    background-image: url("../imagenes/contenido/decoracion\ adultos.jpg"); 
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: white;
    margin-bottom: 2%;
    border-radius: 25px;
    padding: 5% 5% 1px 5%;
}

/* Estilos del contenido del bloque1  */
#bienvenidos {
    background-color: white;
    opacity: .8;
    margin-top: 49%;
    margin-bottom: 2%;
    padding: 5% 5% 2% 5%;   
    text-align: center;
    border-radius: 30px;
    box-shadow: 10px 10px 20px black;
}
/* Estilos de texto del bloque de bienvenidos */
#bienvenidos p {
    padding: 5%;
    text-align: justify;
    border-radius: 20px;
    display: inline-block;
}

/* Estilos del bloque2 y 3 de cumpleaños y matrimonio */
#hipervinculos {
  width: 100%;
  
  background-color: white;
  margin-bottom: 2%;
  border-radius: 25px;
  padding: 5% 5% 1% 5%;
  text-align: center;
}

.bloque2, .bloque3 , .bloque4{
    width: 100%;
    height: 40em;
    background-color: white;
    margin-bottom: 2%;
    border-radius: 25px;
    padding: 5%; 
    text-align: center;
}

/* Estilos del texto de hipervinculos */
#hipervinculos p {
    width: 80%;
    text-align: justify;
    margin-left: 10%;
    margin-bottom: 2%;
}
/* Estilos de botones de hipervinculos */
.btn_ {
    margin: 5% 3% 3% 3%;
    padding: 2%;
    text-decoration: none;
    color: black;
    display: inline-block;
    background-color: rgb(230, 191, 95);
    border-radius: 5px;
    transition: background-color 1s ease;
}
/* Estilos para que cambie de color cuando pasa el cursor encima */
.btn_:hover {
    background-color: rgba(92, 144, 255, 0.76);
    color: antiquewhite;
}

/* Estilos para el bloque de cumpleaños */
#cumpleaños p{
    width: 40%;
    min-width: 23em;
    padding: 3%;
    text-align:justify;
    border-radius: 20px;
    box-shadow: 0px 0px 2px gray;
    margin: 7% 0 3% 3%;
    float: left;
}

/*Estilos de diseño de carrusel de imagenes*/
.carrousel {
    margin-top: 0;
    display: inline-block;
    width: 40%;
    max-width: 120em;
    min-width: 23em;
    color: black;
    transition: all 0.4s ease;
    border-radius: 1em;
    background-color: white;
    overflow: hidden;
  }
  
  .carrousel .grande {
    width: 309%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    color: black;
    transition: all 0.4s ease;
    border-radius: 1em;
    background-color: white;
    padding: 2em;
    transition: all 0.5s ease;
    transform: translateX(0%);
  }
  
  .carrousel .secciones {
    width: calc( 100% / 3 - 3em);
    min-height: 10vh;
    color: black;
    transition: all 0.4s ease;
    border-radius: 1em;
    background-color: white;
    box-shadow: 1em 1em 2em lightgray, -1em -1em 2em lightgray, inset 0 0 0 transparent, inset 0 0 0 transparent;
    padding: 1%;
    text-align: center;
  }
  
  .carrousel .puntos {
    width: 100%;
    margin: 1em 0 0;
    padding: 0.4em;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
  }
  
  .carrousel .punto {
    width: 2em;
    height: 2em;
    margin: 1em 1em 0;
    color: black;
    transition: all 0.4s ease;
    border-radius: 1em;
    background-color: whitesmoke;
    box-shadow: 0.6em 0.6em 1.2em lightgray, -0.6em -0.6em 1.2em lightgray, inset 0 0 0 transparent, inset 0 0 0 transparent;
  }
  
  .carrousel .punto.activo{
    background-color: rgb(230, 191, 95);
  }

/* Estilo de carrusel seccion infantil */
/* Estilos de imagen 1 de carrusel */
.img1{
    width: 100%;
    border-radius: 15px;
    margin:0;
    box-shadow: 0.6em 0.6em 1.2em lightgray, -0.6em -0.6em 1.2em lightgray, inset 0 0 0 transparent, inset 0 0 0 transparent;
}
/* Estilos de imagen 2 de carrusel */
.img2 {
    width: 100%;
    border-radius: 15px;
    margin:0;
    box-shadow: 0.6em 0.6em 1.2em lightgray, -0.6em -0.6em 1.2em lightgray, inset 0 0 0 transparent, inset 0 0 0 transparent;
}
/* Estilos de imagen 3 de carrusel */
.img3{
    width: 100%;
    border-radius: 15px;
    margin:0;
    box-shadow: 0.6em 0.6em 1.2em lightgray, -0.6em -0.6em 1.2em lightgray, inset 0 0 0 transparent, inset 0 0 0 transparent;
}

/* Estilos del bloque matrimonio */
#matrimonio img {
    width: 35%;
    border-radius: 20px;
    box-shadow: 0 0 10px gray;
    margin: 2% 5% 5% 5%;
    float: left;
}   
/* Estilos de texto del bloque4 de matrimonio */
#matrimonio p{
    width: 40%;
    margin: 10% 0 3% 0;
    padding: 5% 2% 5% 2%;
    text-align: justify;
    border-radius: 20px;
    display: inline-block;
    box-shadow: 0px 0px 2px gray;
}

/* Estilos de texto de baby shower */
#babyshower p {
    width: 40%;
    min-width: 23em;
    padding: 5%;
    text-align:justify;
    border-radius: 20px;
    box-shadow: 0px 0px 2px gray;
    margin: 7% 0 3% 3%;
    float: left;
}

/* Estilos del bloque5, de xv años */
.bloque5{
    width: 100%;
    height: 35em;
    background-color: white;
    border-radius: 25px;
    padding: 5% 5% 3% 5%;
    text-align: center;
}
/* Estilos de la imagen de xv años */
.bloque5 img{
    float: left;
    width: 40%;
    border-radius: 25px;
    margin: 3%;
}
/* estilos de texto de xv años */
#XVaños p{
  width: 40%;
  margin: 3% 0 3% 0;
  padding: 5% 2% 3% 2%;
  text-align: justify;
  border-radius: 20px;
  display: inline-block;
  box-shadow: 0px 0px 2px gray;
}


/*Estilos de diseño de carrusel de imagenes*/
.carrousel1 {
    margin-top: 0;
    display: inline-block;
    width: 40%;
    max-width: 120em;
    min-width: 23em;
    color: black;
    transition: all 0.4s ease;
    border-radius: 1em;
    background-color: white;
    overflow: hidden;
  }
  
  .carrousel1 .grande {
    width: 200%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    color: black;
    transition: all 0.4s ease;
    border-radius: 1em;
    background-color: white;
    padding: 2em;
    transition: all 0.5s ease;
    transform: translateX(0%);
  }
  
  .carrousel1 .secciones {
    width: calc( 100% / 2 - 3em);
    min-height: 10vh;
    color: black;
    transition: all 0.4s ease;
    border-radius: 1em;
    background-color: white;
    box-shadow: 1em 1em 2em lightgray, -1em -1em 2em lightgray, inset 0 0 0 transparent, inset 0 0 0 transparent;
    padding: 1%;
    text-align: center;
  }
  
  .carrousel1 .puntos {
    width: 100%;
    margin: 1em 0 0;
    padding: 0.4em;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
  }
  
  .carrousel1 .punto {
    width: 2em;
    height: 2em;
    margin: 1em 1em 0;
    color: black;
    transition: all 0.4s ease;
    border-radius: 1em;
    background-color: white;
    box-shadow: 0.6em 0.6em 1.2em lightgray, -0.6em -0.6em 1.2em lightgray, inset 0 0 0 transparent, inset 0 0 0 transparent;
  }
  
  .carrousel1 .punto.activo{
    background-color: rgb(230, 191, 95);
  }

 /* pie de pagina */

.footer {
  padding-top: 5%; 
  background-color: lightgray; 
}

 .pie_pagina {
  background-image: url("../imagenes/contenido/imgfooter.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 10%;
  width: 80%;
  height: 100%;
  padding: 3%;
}

.footer_text{
  color: #fff;
}
  
  
  .wrapper{
    display: inline-flex;
  }
  .wrapper .icon{
    margin: 0 20px;
    text-align: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index: 2;
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .wrapper .icon span{
    display: block;
    height: 60px;
    width: 60px;
    background: #fff;
    border-radius: 50%;
    position: relative;
    z-index: 2;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .wrapper .icon span i{
    line-height: 60px;
    font-size: 25px;
  }
  .wrapper .icon .tooltip{
    position: absolute;
    top: 0;
    z-index: 1;
    background: #fff;
    color: #fff;
    padding: 10px 18px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 25px;
    opacity: 0;
    pointer-events: none;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .wrapper .icon:hover .tooltip{
    top: -70px;
    opacity: 1;
    pointer-events: auto;
  }
  .icon .tooltip:before{
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    background: #fff;
    left: 50%;
    bottom: -6px;
    transform: translateX(-50%) rotate(45deg);
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .wrapper .icon:hover span{
    color: #ffffff;
  }
  .wrapper .icon:hover span,
  .wrapper .icon:hover .tooltip{
    text-shadow: 0px -1px 0px rgba(0,0,0,0.4);
  }
  .wrapper .facebook:hover span,
  .wrapper .facebook:hover .tooltip,
  .wrapper .facebook:hover .tooltip:before{
    background: #3B5999;
  }  
  .wrapper .tiktok:hover span,
  .wrapper .tiktok:hover .tooltip,
  .wrapper .tiktok:hover .tooltip:before{
    background: black;
  }

  .tooltip a{
    color: aliceblue;
  }
  .wrapper .instagram:hover span,
  .wrapper .instagram:hover .tooltip,
  .wrapper .instagram:hover .tooltip:before{
    background: #f33333;
  }
  .wrapper .whatsapp:hover span,
  .wrapper .whatsapp:hover .tooltip,
  .wrapper .whatsapp:hover .tooltip:before{
    background: #45f721db;
  }