@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

.cuadro{
  width: 100%;
  padding: 5vh;
}
.info{
  padding: 5vh 18vh;
}
.con{
  height: 55vh;
  width: 45vh;
  padding: 1vh;
  margin: 2vh 2vh;
  border-radius: 5vh;
  background: white;
  transition: 0.5s;
  box-shadow: 2px 2px 5px rgb(0 0 0 / 20%);
  display: inline-block;
}
.con:hover{
  height: 85vh;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
}
.con .img img{
  margin: 2vh;
  height: 100%;
  width: 90%;
  border-radius: 5vh;
  object-fit: cover;
}
.con h3 {
  height: 5vh;
  margin: 0 4vh;
}
.con .top-text .name{
  font-size: 25px;
  font-weight: 600;
  color: #202020;
}
.con .top-text p{
  font-size: 20px;
  font-weight: 600;
  color: #e74c3c;
  
  line-height: 10px;
  border: solid black 1 px;
  height: 40vh;
}
.con .bottom-text{
  padding: 0 20px 10px 20px;
  margin: 5vh 2vh;
  margin-bottom: 10vh;
  background: white;
  opacity: 0;
  visibility: hidden;
  transition: 0.1s;
}
.con:hover .bottom-text{
  opacity: 1;
  visibility: visible;
}
.con .bottom-text .text{
  text-align: justify;
}
.con .bottom-text .btn{
  margin: 1vh 4vh;
  text-align: left;
}
.con .bottom-text .btn a{
  text-decoration: none;
  background: #e74c3c;
  color: #f2f2f2;
  padding: 1vh;
  border-radius: 2vh;
  display: inline-flex;
  transition: 0.2s;
}
.con .bottom-text .btn a:hover{
  transform: scale(0.9);
}

@media (max-width: 600px) {
  .con{
    height: 55vh;
    width: 45vh;
    padding: 1vh;
    margin: 2vh 2vh;
    border-radius: 5vh;
    background: white;
    transition: 0.5s;
    box-shadow: 2px 2px 5px rgb(0 0 0 / 20%);
    display: inline-block;
  }
  .con:hover{
    height: 120vh;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
  }
}