.contenido{
  display: flex;
  justify-content: center;
  align-items: center;

}
.user{
  width: 32vh;
  margin: 3% 3%;
}

.inputs{
  display: flex;
  justify-content: center;
  align-items: center;

  align-items: center;
}

.ingresar{
  width:35vh;
  margin-bottom: 2vh;
}