.py-5{
  background-color: white;
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-light{
  width: 90vh;
  padding: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  
}

.inputs {
  
  flex-direction: column;
  
}

.inputs .form-floating {
  width: 50vh;
}

.ingresar{
  width:70vh;
  margin: 10%;
}