.añadir{
    background-color:#198754;
    color: white;
    width: 20vh;
    padding: 2%;
    margin: 2%;
    float: right;
    text-decoration: none;
    border-radius: 1em;
}

.añadir:hover{
    background-color: wheat;
    color: black;
}

.boton{
    background-color:#0d6efd;
    color: white;
    padding: 5%;
    margin: 5% 0 5% 10%;
    border-radius: 1em;
}
.boton:hover{
    background-color: wheat;
    color: black;
}

#añadir_close {
    background-color: #F26250;
    color: wheat;
    position: absolute;
    top: 2em;
    right: 1em;
}

#cerrar:hover{
    background-color: wheat;
    color: black;
}

.modal__title{
    font-size: 2.5rem;
}

.modal__close{
    text-decoration: none;
    color: #fff;
    background-color:red;
    padding: 1em 3em;
    margin-left: 1em;
    border: 1px solid ;
    border-radius: 6px;
    display: inline-block;
    font-weight: 300;
    transition: background-color .3s;
}

.modal__close:hover{
    color: black;
    background-color: wheat;
}

.form_inputs {
    padding: 5%;
    margin: 0 2%;
    background-color: rgb(248, 236, 214);
    border-radius: 1em;
}

.modal label{
    margin-bottom: 2%;
}

.añadir_cont{
    border-radius: 2vh;
    border: 0;
    padding: 10vh;
}
.modal__close, .añadir_cont h2{
    text-align: center;
}

.imagenes_tablas{
    width: 25vh;
    border-radius: 2vh;
}
